<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3D-E16f29n5gQ7E5sUt8812J8TeA3cPs</string>
	<key>GCM_SENDER_ID</key>
	<string>378420589940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dellesert.tachyon-messenger</string>
	<key>PROJECT_ID</key>
	<string>taxion-476e8</string>
	<key>STORAGE_BUCKET</key>
	<string>taxion-476e8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378420589940:ios:1fd6fc445aebc218d0e821</string>
</dict>
</plist>
